<h1>Welcome</h1><%= @user.username %>

<table>
    <th>
        <h5>Your most embarrassing, should be burned picture</h5>
    </th>

    <th>
        <h5>Your ordinary everyday picture</h5> 
    </th>

    <th>
        <h5>Your stunning super amazing picture</h5>
    </th>
</table>